*{
    margin: 0px;
    padding: 0px;
}
.header img{
    height: 80px;
    justify-items: center;
}
.header{
    text-align: center;
}
.header nav{
    background-color: black;
    font-size: 18px;
    line-height: 40px;
    text-align: left;
    padding-left: 70px;

}
nav a{
    color: white;
    text-decoration: none;
    padding: 10px;
    margin-right: 20px;

}
nav a:hover{
    background-color: #D3D3D3;
    color: white;
}